{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ asset('css/nav/nav.css') }}">
{% endblock %}
 
{% block header %}
   {{ include("componentes/nav.html.twig") }}
{% endblock %}


{% block body %}

<div class="container">
    <h1 class="h1 text-center mt-4"> Estamos en el home</h1>
</div>

{% endblock %}
