{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{{ asset('css/register/formulario.css') }}">
{% endblock %}
{% block header %}
    {{parent()}}
{% endblock %}
{% block body %}

<h1>Estamos en home</h1>


{% endblock %}


